* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Header */

#SiteHeader {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #2E3A46;
}

label {
    color: white;
    padding: 1rem;
}

img {
    width: 50px;
    margin: 10px;
}

/* #endregion  */

/* #region Main */

#SiteMain {
    background-color: #1E2D3B;
    height: calc(100vh - 70px);
    width: 100%;

}

/* #endregion */